body {
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    padding: 0;
    background-color: #f4f7f6; 
    color: #333;
}

.container {
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 20px;
}
header {
    background-color: #b5b5b5; 
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}
